/*imports*/
.navbarStyle {
  background-color: #2b4560;
}
.navbarStyle img {
  width: 60px;
}
.navbarStyle a {
  color: #e1e7e0;
  text-decoration: none;
  transition: font-weight 0.3s ease, color 0.3s ease0;
}
.navbarStyle a.nav-link {
  color: #e1e7e0;
  font-weight: normal;
}
.navbarStyle a.nav-link.active, .navbarStyle a.nav-link:hover {
  font-weight: bold;
  color: #e1e7e0;
  transform: scale(1);
  transition: transform 0.1s ease;
}
.navbarStyle img {
  width: 60px;
}

/*Inicio*/
.contenedor-grid {
  display: grid;
  grid-template-areas: "banner banner banner" "titulo imagen imagen" "texto imagen imagen";
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto auto auto;
  padding: 0;
  gap: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 0;
}
.contenedor-grid .grid-banner {
  grid-area: banner;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.contenedor-grid .grid-banner img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.contenedor-grid .grid-titulo {
  display: flex;
  grid-area: titulo;
  margin: 20px;
  padding: 0;
  align-items: flex-end;
}
.contenedor-grid .grid-titulo h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  justify-content: baseline;
  font-weight: bold;
}
.contenedor-grid .grid-imagen {
  grid-area: imagen;
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.contenedor-grid .grid-imagen img {
  width: auto;
  max-width: 100%;
  border-radius: 9px;
  object-fit: cover;
  margin: 0;
}
.contenedor-grid .grid-texto {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 20px;
  padding: 0;
}

/*INFORMACION*/
.banner {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0;
}

.libros {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px;
  gap: 20px;
  justify-items: center;
  justify-content: space-around;
}
.libros h3 {
  color: #e1e7e0;
  font-size: 18px;
  font-weight: bold;
}
.libros h4 {
  color: #e1e7e0;
  font-size: 16px;
  font-weight: bold;
}
.libros a {
  color: #e1e7e0;
}
.libros p {
  color: #e1e7e0;
  font-size: 14px;
}
.libros img {
  width: 200px;
  height: 200px;
  object-fit: fill;
  border-radius: 8px;
  padding: 20px;
}
.libros .libro1, .libros .libro2, .libros .libro3 {
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #2b4560, #6aa4b0);
  border-radius: 20px;
  flex: 1 1 200px;
  max-width: 300px;
  margin: 20px;
  padding: 20px;
}

/*MIS TRABAJOS*/
.produccionmusical {
  margin-bottom: 30px;
}
.produccionmusical .produccionmusical li {
  list-style: circle;
  margin-left: 70px;
  color: #7e9ab7;
  font-size: 18px;
}
.produccionmusical .produccionmusical h3 {
  margin-left: 30px;
}

/*MI MUSICA*/
.canciones {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}
.canciones .cancion1, .canciones .cancion2 {
  width: calc(50% - 10px);
  background-color: #e1e7e0;
  padding: 20px;
  border-radius: 10px;
}
.canciones .cancion1 iframe, .canciones .cancion2 iframe {
  width: 90%;
}

/*CONTACTO*/
.contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 85%;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  color: #2b4560;
  gap: 20px;
}
.contacto .formulario {
  max-width: 50%;
  margin: 40px auto;
  padding: 30px;
}
.contacto .formulario h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #2f6d80;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.contacto .formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacto .formulario label {
  font-weight: bold;
  font-size: 16px;
}
.contacto .formulario input,
.contacto .formulario textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #6aa4b0;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-family: "Quicksand", sans-serif;
}
.contacto .formulario button {
  background-color: #2f6d80;
  color: #e1e7e0;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
.contacto .ubicacion {
  width: 50%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 10px;
  margin: 40px auto;
}
.contacto .ubicacion h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #2f6d80;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
.contacto .ubicacion iframe {
  width: 90%;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: 10px;
}

footer {
  background-color: #2b4560;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
footer a {
  cursor: pointer;
}
footer img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}
footer img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
footer .iconos {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

/*inicio*/
@media (max-width: 480px) {
  .contenedor-grid {
    grid-template-areas: "banner" "titulo" "imagen" "texto";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .contenedor-grid .grid-titulo, .contenedor-grid .grid-texto {
    text-align: center;
    align-items: center;
  }
  .contenedor-grid .grid-imagen {
    justify-content: center;
  }
}
/*header*/
@media (max-widht: 480px) {
  .navbarStyle {
    background: #e1e7e0;
  }
  .navbarStyle .navbar-toggler-icon {
    filter: invert(1);
  }
}
/*musica*/
@media (max-width: 480px) {
  .canciones {
    flex-direction: column;
    gap: 15px;
    margin: 10px;
    align-items: center;
  }
  .canciones .cancion1, .canciones .cancion2 {
    width: 100%;
    padding: 15px;
  }
}
/*Contacto*/
@media (max-width: 480px) {
  .contacto {
    flex-direction: column;
    padding: 15px;
    width: 90%;
    max-width: 2000px;
  }
  .contacto .formulario, .contacto .ubicacion {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
  }
  .contacto .formulario .formulario h2, .contacto .formulario .ubicacion h2, .contacto .ubicacion .formulario h2, .contacto .ubicacion .ubicacion h2 {
    font-size: 24px;
  }
  .contacto .formulario .formulario h2 h2, .contacto .formulario .ubicacion h2 h2, .contacto .ubicacion .formulario h2 h2, .contacto .ubicacion .ubicacion h2 h2 {
    font-size: 24px;
  }
  .contacto .formulario {
    max-width: 100%;
  }
  .contacto .formulario input, .contacto .formulario textarea {
    font-size: 14px;
  }
  .contacto .formulario button {
    font-size: 14px;
    padding: 10px;
  }
  .contacto .ubicacion {
    flex: 1 1 45%;
  }
  .contacto .ubicacion iframe {
    width: 100%;
    aspect-ratio: 1/1;
  }
}
/*Reset CCS*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*BODY*/
html {
  height: 100%;
}

main {
  flex: 1;
}

body {
  background-color: #e1e7e0;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.titulos {
  color: #2f6d80;
  font-size: 33px;
  margin: 15px;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding: 0;
}

/*Generico*/
/*Reset CCS*/

/*# sourceMappingURL=style.css.map */
