footer {
    background-color: #2b4560;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

    a {
        cursor: pointer;
    }

    img {
        width: 35px;
        height: 35px;
        object-fit: contain;
        &:hover {
            transform: scale(1.2);
            transition: transform 0.3s ease;
        }
    }
    .iconos {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
}