/*Paleta de colores:
#2b4560 Azul Oscuro
#2f6d80 Azul mas claro
#6aa4b0 Azul claro
#e1e7e0 Marfil*/


/*Reset CCS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
/*BODY*/ 

html {
    height: 100%;
}
main {

    flex: 1; 
}

body{
    background-color:#e1e7e0 ;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
}
.titulos {
    color:#2f6d80 ;
    font-size: 33px;
    margin: 20px;
    text-transform: uppercase ;
    font-family: "Montserrat", sans-serif;
}
h1{
    color:#2f6d80 ;
    font-size: 36px;
    margin: 6px;
    font-weight: bold;

}
h2{
    color:#2b4560;
    font-size: 30px;
    margin: 20px;
    font-family: "Montserrat", sans-serif;

}
h3{
    color:#2b4560;
    font-size: 27px;
    margin: 10px;
}
h4{
    color:#2b4560;
    font-size: 20px;
    margin: 10px; 
    text-decoration:solid;
    font-style: italic;
}
p{
    color:#2b4560;
    font-size: 18px;
    margin: 20px
}
/*HEADER*/

.navbarStyle {
     background-color:#2b4560 ; 

}

.navbarStyle img {
    height:50px;
}

/*.navbarStyle .nav-link {
    color: #ffffff !important;  
    font-weight: bold;
}

.navbarStyle .nav-link:hover {
    color: #cccccc !important; 
}*/



.navbarStyle a {
      align-items:end;
      justify-content: end;
      color: #e1e7e0 ;
     text-decoration: none;
     font-weight: bold;
}

/*header {
   background-color:#2b4560 ; 
   display: flex;
   flex-direction:row;
   justify-content:space-between;  
   align-items: center;
   min-height: 60px;
   box-sizing: border-box;
   padding: 10px 0;
   position: sticky;
   top: 0;
}

header img {
    height: 100%;
    max-height: 60px;
    width: auto;
    object-fit: contain;
    margin: 0 15px;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    height: 100%;   
    margin: 0;
    padding: 0; 
}
header ul li {
    white-space: nowrap;
    padding: 0 12px;
}
header a{
    color: #e1e7e0 ;
     text-decoration: none;
     font-weight: bold;
}

nav{
    width: 50%;
    margin-right: 9px;
}
*/


/*MAIN*/

/*MAIN INICIO*/

/*Banner*/

.contenedor-grid{
    display: grid;
    grid-template-areas:
    "banner banner banner"
    "titulo imagen imagen"
    "texto imagen imagen";
    grid-template-columns: 50% 25% 25%;
    grid-template-rows:auto auto auto;
    padding: 0;
    gap:0 ;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
   
}
    

.grid-banner{
    grid-area: banner;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.grid-titulo{
    display: flex;
    grid-area: titulo;
    margin: 30px;
    padding :0px ;
    align-items: end;
    

}
.grid-titulo h1 {
  
    margin: 0px;
    padding: 0px;
    line-height: 1;
    justify-content: baseline;
    
}

.grid-imagen{
    grid-area: imagen;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100% ;
    overflow: hidden;
    
}

.grid-texto{
    grid-area: texto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 20px;
    padding: 0;

}

.grid-banner img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.grid-imagen img{
    width: auto;
    max-width:100%;
    height: 100%;
    border-radius: 9px;
    object-fit: cover;
    margin:0;
}

/*MAIN INFORMACION*/

.banner {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 0;
}

/*libros*/ 

.libros{
  display: flex;
  flex-wrap:wrap;
  text-align: center;
  margin: 20px;
  gap: 20px;
  justify-items: center;
  justify-content:space-around
}
.libros h3{
    color: #e1e7e0;
    font-size: 18px;
}
.libros h4{
    color: #e1e7e0;
    font-size: 16px;
}
.libros a {
    color:#e1e7e0
}
.libros p{
    color: #e1e7e0;
    font-size: 14px;
    
}
.libros img{
    width: 200px;       
    height: 200px;      
    object-fit: fill;  
    border-radius: 8px; 
}
.libro1, .libro2, .libro3{
justify-content: center;
align-items: center;
background-color: #2b4560;
border-radius: 20px;
flex: 1 1 200px;
max-width: 300px;
}

/*MIS TRABAJOS*/

.produccionmusical li {
    list-style: circle;
    margin-left:70px ;
    color:#2b4560;
    font-size: 18px;
}
.produccionmusical{
    margin-bottom: 30px;
}
.produccionmusical h3{
    margin-left: 30px;
}
.acordeon {
 background-color: transparent;
}

/*MI MUSICA*/


.cancion1, .cancion2{
    width: calc(50% - 10px);
    background-color:#e1e7e0;
    padding: 20px;
    border-radius: 10px;
}
.cancion1 iframe {
    width: 90%;
}
.cancion2 iframe {
    width: 90%;
}
 
.canciones{    
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px 10px;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

/*CONTACTO*/

.formulario {
  max-width: 50%;
  margin: 40px auto;
  padding: 30px;
}

.formulario h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #2f6d80;
  text-align: center;
  margin-bottom: 20px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario label {
  font-weight: bold;
  font-size: 16px;
}

.formulario input,
.formulario textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #6aa4b0;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-family: "Quicksand", sans-serif;
}

.formulario button {
  background-color: #2f6d80;
  color: #fff;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  }

.ubicacion iframe {
  width: 90%;
  aspect-ratio: 1/1;
  border: 0;
  border-radius: 10px;
  
}

.ubicacion {
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
    margin: 40px auto;
 }

 .ubicacion h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  color: #2f6d80;
  text-align: center;
  margin-bottom: 20px;
}

.contacto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
    width: 85%;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #2b4560;
    gap: 20px;
    
    
}
/*FOOTER*/

footer{
    background-color: #2b4560;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}
footer img{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.iconos {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

/*RESPONSIVE*/

/*HEADER*/

@media (max-width:480px) {
    header {
        flex-direction: column;
        min-height:80px;
        margin 0;
        padding: 0;
    }
    nav {
        width: 100%;
    }
   nav ul{
        align-items:start
    }
    nav ul li {
        font-size: 10px;
        align-items: start;
        margin bottom: 15px;
        padding: 0;
    }
    header img {
        height: 100%;
        margin: 0;
        padding: 0;      
    }
    .logo-header {
      margin-bottom: 0px;
      margin-top: 3px;
      padding: 0;
      height: 50px;
      align-items: center;
}

}

/*INDEX / MAIN*/ 


@media (max-width: 480px) {
  .contenedor-grid {
    grid-template-areas:
      "banner"
      "titulo"
      "imagen"
      "texto";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .grid-titulo, .grid-texto{
    text-align: center;
    align-items: center;
  }
  .grid-imagen {
    justify-content: center;
  }
}

/* MI MUSICA / MAIN*/
@media (max-width: 480px) {
    .canciones {
        flex-direction: column;
        gap: 15px;
        margin: 10px;
        align-items: center;
    }
    .cancion1, .cancion2{
        width: 100%;
        padding: 15px;
    }
}
/*CONTACTO*/
@media (max-width: 480px) {
    .contacto {
        flex-direction: column;
        padding: 15px;
        width: 90%;
    }
    .formulario, .ubicacion{
        width: 100%;
        padding: 20px;
        margin: 0 auto;
    }
    .formulario {
        max-width: 100%;
    }
    .ubicacion iframe {
        width: 100%;
        aspect-ratio: 1/1;
    }
    .formulario h2, .ubicacion h2 {
        font-size: 24px;
    }
    .formulario input, .formulario textarea {
        font-size: 14 px;
    }
    .formulario button {
        font-size: 14px;
        padding:10px;
    }
    .contacto {
        max-width: 2000px;
    }
    .ubicacion {
        flex: 1 1 45%;
    }
}